.login {
    height: 100vh;
    background: linear-gradient(rgba(0,0,0,0.65), rgba(0,0,0,0.65)),
                url("/background_banner.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.login-logo {
    position: absolute;
    top: 25px;
    left: 50px;
    width: 150px;
}

.login-form {
    background: rgba(0, 0, 0, 0.75);
    padding: 60px 68px 40px;
    border-radius: 4px;
    width: 100%;
    max-width: 450px;
    color: #fff;
    box-shadow: 0 0 30px rgba(0,0,0,0.6);
}

.login-form h1 {
    font-size: 32px;
    font-weight: 600;
    margin-bottom: 28px;
}

.login-form input {
    width: 100%;
    height: 50px;
    margin-bottom: 16px;
    border-radius: 4px;
    border: none;
    outline: none;
    padding: 16px 20px;
    background: #333;
    color: #fff;
    font-size: 16px;
}

.login-form input:focus {
    background: #454545;
}

.login-form input::placeholder {
    color: #8c8c8c;
}

.login-form button {
    width: 100%;
    height: 50px;
    background: #e50914;
    border: none;
    border-radius: 4px;
    color: white;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
    margin-top: 10px;
}

.login-form button:hover {
    background: #f6121d;
}

/* Remember + Help */
.form-help {
    display: flex;
    justify-content: space-between;
    font-size: 13px;
    color: #b3b3b3;
    margin-top: 10px;
}

.remember {
    display: flex;
    align-items: center;
    gap: 5px;
}

.remember input {
    width: 16px;
    height: 16px;
    margin: 0;
}



.form-switch {
    margin-top: 40px;
    font-size: 16px;
    color: #737373;
}

.form-switch span {
    color: #fff;
    cursor: pointer;
    margin-left: 5px;
}

.form-switch span:hover {
    text-decoration: underline;
}

@media (max-width: 768px) {

    .login {
        padding: 20px;
    }

    .login-logo {
        width: 100px;
        left: 20px;
        top: 15px;
    }

    .login-form {
        padding: 40px 30px;
        max-width: 100%;
    }
}