.footer {
    padding: 50px 4%;
    max-width: 1000px;   
    margin: 0 auto;
    color: #757575;
}

.footer-icons {
    display: flex;
    gap: 20px;
    margin: 30px 0;
}

.footer-icons img {
    width: 25px;
    cursor: pointer;
}

.footer ul {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 15px;
    margin-bottom: 30px;
    list-style: none;
    padding: 0;
}

.footer ul li {
    font-size: 14px;
    cursor: pointer;
}

.footer ul li:hover {
    text-decoration: underline;
}

.copyright-text {
    font-size: 13px;
    color: #757575;
}

@media (max-width: 800px) {
    .footer ul {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 500px) {
    .footer ul {
        grid-template-columns: 1fr;
    }

    .footer-icons {
        justify-content: center;
    }
}